*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: chartreuse;
}
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background-color: #fff;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu >li >a{
    display: block;
    padding: 15px 20px;
    color: black;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li a:hover{
    color: chartreuse;
    transition: all .3s;
    /*submenu______*/
}
.submenu{
    position: absolute;
    background-color:whitesmoke;
    width: 110%;
    padding: 10px;
    display: none;
    transition: opacity 1.5s;
}
.submenu li a{
    display: block;
    padding: 15px;
    font-family: 'open sans';
    text-decoration: none;
    color: black;
}
.menu li:hover .submenu{
    display: block;
    transition: 0.1.6s;
}